html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid {
  box-sizing: content-box;
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
}